.container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  place-items: center;
}

@media (min-width: 35em) {
  .container {
    width: 56px;
    height: 56px;
  }
}

.container + p:hover {
  color: hsl(8 67% 55%);
}
