.nav {
  padding: 0.25rem;
  position: fixed;
  inset: 0 0 auto;
  z-index: 100;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 45em) {
  .nav {
    padding: 0.5rem;
  }
}

.nav ul {
  justify-self: end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.iconWrapper {
  overflow: hidden;
}

.appear {
  transform: translateY(0);
  transition: transform 420ms ease-in;
}

.disappear {
  transform: translateY(100%);
  transition: transform 420ms ease-in;
}
