.nav {
  padding: clamp(0.5rem, 5vw, 1rem);
  position: fixed;
  inset: 0 0 auto;
  z-index: 100;
  grid-template-columns: repeat(2, 1fr);
}

.nav ul {
  justify-self: end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.logoWrapper {
  overflow: hidden;
}

.appear {
  transform: translateY(0);
  transition: transform 420ms ease-in;
}

.disappear {
  transform: translateY(100%);
  transition: transform 420ms ease-in;
}
