.nav {
  padding: 0.25rem;
  position: fixed;
  inset: 0 0 auto;
  z-index: 100;
  grid-template-columns: repeat(2, 1fr);
}

.navDefault {
  height: 3.5rem;
}

@media (min-width: 45em) {
  .nav {
    padding: 0.5rem;
  }
  .navDefault {
    height: 4.25rem;
    padding: 0 0.5rem;
  }
}

.nav ul {
  justify-self: end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.iconWrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.appear {
  display: flex;
  align-items: center;
  transform: translateY(0);
  transition: transform 420ms ease-in;
}

.list,
.list > a,
.appear > a,
.disappear > a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.disappear {
  display: flex;
  align-items: center;
  transform: translateY(120%);
  transition: transform 420ms ease-in;
}

.searcher {
  display: none;
}

@media (min-width: 45em) {
  .searcher {
    display: flex;
  }
}
