.form {
  display: grid;
  width: 500px;
  grid-template-columns: 1fr 0.25rem 0.7fr;
  grid-template-areas: "search . location";
}

.form > label:first-child {
  grid-area: search;
}
.form > label:nth-child(2) {
  grid-area: location;
}
.form > div {
  grid-column: span 3;
}

.form > label {
  margin-bottom: 0.25rem;
}
.form input {
  line-height: 1.4;
}
/* .form > div {
  grid-area: dropdown;
  grid-column: span 2;
} */

@media (max-width: 35em) {
  .form {
    width: 100%;
  }
  .form > label:first-child {
    max-width: 100%;
    grid-column: span 3;
  }
  .form > label:nth-child(2) {
    display: none;
  }
}

.input {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background: transparent;
}

.input:foucs,
.input:active {
  outline: none;
}
