/*[todo] update max-width: 1280px*/
.container {
  width: 100vw;
  max-width: 1280px;
  margin-inline: auto;
  display: grid;
}

.header {
  width: 100%;
  height: clamp(32rem, 85vh, 42rem);
  overflow: hidden;
  position: relative;
}

/* transform: translateY(-52rem); */

.header video {
  z-index: -100;
  width: 100%;
  transform: translateY(0%);
}

@media (min-width: 35rem) {
  .header video {
    transform: translateY(-30%);
  }
}

@media (min-width: 45rem) {
  .header video {
    transform: translateY(-38%);
  }
}

.searchWrapper {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}

.searchWrapper > div:first-child {
  --gap: 0;
}
