/*[todo] update max-width: 1280px*/
.container {
  width: 100vw;
  max-width: 1280px;
  margin-inline: auto;
  display: grid;
}

.header {
  width: 100%;
  height: clamp(32rem, 85vh, 42rem);
  overflow: hidden;
  position: relative;
}

/* transform: translateY(-52rem); */

.header video {
  z-index: -100;
  width: 100%;
  transform: translateY(0%);
  background-color: black;
}

@media (min-width: 35rem) {
  .header video {
    transform: translateY(-30%);
  }
}

@media (min-width: 45rem) {
  .header video {
    transform: translateY(-38%);
  }
}

.searchWrapper {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}

.searchWrapper > div:first-child {
  --gap: 0;
}

.main {
  background-color: orange;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.main > article:nth-child(4n + 1) {
  grid-column: span 12;
}
.main > article:nth-child(4n + 2) {
  grid-column: span 12;
}
.main > article:nth-child(4n + 3) {
  grid-column: span 12;
}
.main > article:nth-child(4n + 4) {
  grid-column: span 12;
}

@media (min-width: 38rem) {
  .main > article:nth-child(4n + 1) {
    grid-column: span 7;
  }
  .main > article:nth-child(4n + 2) {
    grid-column: span 5;
  }
  .main > article:nth-child(4n + 3) {
    grid-column: span 5;
  }
  .main > article:nth-child(4n + 4) {
    grid-column: span 7;
  }
}

@media (min-width: 62rem) {
  .main > article:nth-child(4n + 1) {
    grid-column: span 4;
  }
  .main > article:nth-child(4n + 2) {
    grid-column: span 4;
  }
  .main > article:nth-child(4n + 3) {
    grid-column: span 4;
  }
  .main > article:nth-child(4n + 4) {
    grid-column: span 4;
  }
}
